main {
    height: 98vh;
    box-sizing: border-box;
    margin: 1vh 1vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 74% 2% 4%;
    grid-template-areas: 
        ". nav"
        "google google"
        "country ."
        "footer-left footer-right";
}

nav {
    grid-area: nav;
    justify-self: end;
    align-self: flex-start;
}

.google {
    display: inline-grid;
    grid-area: google;
    justify-self: center;
    align-self: baseline;
    justify-items: center;
}

.country {
    grid-area: country;
    justify-self: flex-start;
    align-self: flex-end;
}

.footer-left {
    grid-area: footer-left;
    justify-self: flex-start;
    align-self: flex-end;
}

.footer-right {
    grid-area: footer-right;
    justify-self: flex-end;
    align-self: flex-end;
}

a, .country {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: small;
}

input {
    width: 50vmax;
    height: 3vmax;
    border-radius: 2vmax;
    border-color: lightgray;
    border-style: solid;
}

.spacing {
    padding: 10px 10px;
}

.button {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    justify-content: center;
}

.button button {
    font-size: 1em;
    padding: 5px 10px;
    border-style: none;
    color: rgb(87, 87, 87);
    border-radius: 3px;
    background-color: rgb(228, 228, 228);
    font-size: small;
}

button:hover {
    background-color: rgb(243, 243, 243);
}